@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Lobster&display=swap');

body{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0;
}

.conteiner{
	width: 75%;
   margin: 0 auto;
}

.header{
	width: 100%;
	padding-bottom: 15px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #333;
	box-sizing: border-box;
	display:  flex;
	justify-content: space-between;
	align-items: center;
	
}

.header__logo{
	margin: 0;
	padding: 0;
	font-family: 'Lobster' ;
	letter-spacing: 3.6px;
   color: #333;
}

.header__menu-dots{
	font-size: 34px;
	width: 25px;
	height: 25px;
	border: none;
	background: none;
	border: 0px solid #333;
	position: relative;
	box-sizing: border-box;
   transition: transform .5s;
}

/* .active {transition: transform .5s;} */

.header__menu-dots::before {
	content: '';
	display: block;
	transform: rotate(45deg);
	width: 25px;
	height: 2px;
	background: #333;
	position: absolute;
	animation: widthLine .5s ease-in-out;
	left: 0;
	top: 10px;
	/* right: 0; */
	/* margin: 0 auto; */
	transition: .5s;

}.header__menu-dots::after {
	content: '';
	display: block;
	transform: rotate(45deg);
	width: 25px;
	height: 2px;
	background: #333;
	position: absolute;
	animation: widthLine .5s ease-in-out;
	left: 0;
	top: 20px;
	/* right: 0; */
	/* margin: 0 auto; */
   transition: .5s;
}


.header__menu-dots:hover{
	/* transform: rotate(90deg); */
}

.header__menu-dots:hover::after{
	/* top: 0; */
	transform: rotate(270deg);
}.header__menu-dots:hover::before{
	/* top: 0; */
	transform: rotate(270deg);
}


